.container {
    max-width: 1170px !important;
    margin: auto !important;
    width: 90% !important;
}
.menu-regular {
    position: relative;
}
.menu-regular:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 90%;
    height: 2px;
    background: transparent;
    right: 3px;
}
.menu-active.menu-regular:before {
    background: #23BE0A;
}
.menu-active {
    color: #23BE0A !important;
}
.menu-regular:focus,
.menu-regular:hover {
    background: transparent !important;
}
.all-books img {
    max-height: 167px;
    min-height: 167px;
}